#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}

.img_a{
  width: 120px;
  border-style: none;
  padding-bottom: 5px;
}
.ipt{
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 30px;
  outline: none;
  font-size: 19px;
  color: #555;
  box-shadow: -10px -10px 15px rgb(58 58 58 / 9%), 10px 10px 15px rgb(66 66 66 / 35%);
  transition: .5s;
  padding: 10px 55px 10px 15px;
}
.btn{
top: 0;
bottom: 0;
right: 0;
height: 50px;
width: 60px;
border-radius: 30%;
border: none;
cursor: pointer;
outline: 0;
background:  #6c79db;
box-shadow: 2px 2px 8px gray;
color: #fff;
transition: transform 0.5s ease;
}

.btn:hover {
  background: #67c98e;
  transition: .2s;
}

.pokedex {
  background-color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}
.pokedex__main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 100px;
}
.pokemons__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.pokedex__img img {
  filter: drop-shadow(0 10px 20px rgb(0, 0, 0, 0.5));
}

/* pokedex card */

.card-poke {
  width: 100%;
  height: 450px;
  max-width: 350px;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.5s ease;
  
}
.btn-n{
  display: block;
  height: 60px;
  width: 60px;
  border-radius: 30%;
  border: none;
  cursor: pointer;
  outline: 0;
  background:  #6c79db;
  box-shadow: 2px 2px 8px gray;
  color: #fff;
  transition: transform 0.5s ease;
}
.card-poke:hover {
  transform: scale(1.01);
  transition: transform 0.5s ease;
}

.card-poke__header {
  height: 70px;
  /* background-color: green; */
  position: relative;
  left: 0;
  right: 0;
  margin-bottom: 100px;
}

.card-poke__img {
  width: 60%;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.card-poke__img img{
  bottom: 10px;
  position: relative;
  height: 100%;
  width: 100%;
}

.card-poke__body {
  margin-bottom: 10px;
}

.card-poke__name {
  text-transform: capitalize;
  text-align: center;
  font-size: 1.9rem;
  font-weight: 700;
}

.card-poke__list {
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style: none;
}

.card-poke__type {
  font-size: 15px;
  text-transform: capitalize;
  position: relative;
  color: #fff;
}
.card-poke__type:nth-child(2)::before {
  content: '/';
  position: absolute;
  left: -10px;
}
.card-poke__type-label {
  margin-top: 2px;
  text-align: center;
  font-size: 14px;
  color: #fff;
}

.linea_divider {
  height: 10px;
}

.card-poke__stats-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7px 4px;
  padding: 0 5px 50px;
  justify-items: center;
}
.card-poke__stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.card-poke__stat-label {
  color: #eee;
  text-transform: uppercase;
  font-size: 10px;
}
.card-poke__stat-number {
  font-size: 15px;
  font-weight: 900;
}


/* BORDER COLOR*/

.border-grass {
  border-color: #B1DBBC;
}

.border-fire {
  border-color: #E75C35;
}

.border-water {
  border-color: #1479FB;
}

.border-bug {
  border-color: #4AB648;
}

.border-normal {
  border-color: #735259;
}

.border-poison {
  border-color: #5B3184;
}
/* bagra*/

.border-ground {
  border-color: #654008;
}

.border-rock {
  border-color: #7E7E7E;
}

.border-dark {
  border-color: #030706;
}

.border-psychic,
.border-flying {
  border-color: hsl(60, 69%, 49%);
}

.border-electric {
  border-color: #0C1395;
}

.border-fighting {
  border-color: #96402A;
}

.border-ghost {
  border-color: #323569;
}

.border-ice {
  border-color: #6FBEDF;
}

.border-dragon {
  border-color: #478A93;
}

.border-fairy {
  border-color: #971B45;
}
/* bagra*/

.bg-grass {
  background: linear-gradient(178.92deg, #7EC6C5 0.92%, #ABDAC6 47.96%, #CAE099 99.08%);
}

.bg-fire {
  background: linear-gradient(176.37deg, #F96D6F -32.26%, #E35825 22.55%, #E8AE1B 125.72%);
}

.bg-water {
  background: linear-gradient(179.57deg, #133258 -70.14%, #1479FB 56.16%, #82B2F1 214.85%)
}

.bg-bug {
  background: linear-gradient(177.56deg, #62DB60 -58.92%, #3BB039 16.57%, #AAFFA8 209.53%);
}

.bg-normal {
  background: linear-gradient(181.51deg, #735259 -6.44%, #BC6B7C 121.95%, #7C3F4C 186.11%);
}

.bg-poison {
  background: linear-gradient(177.03deg, #5B3184 -11.97%, #A564E3 71.28%, #CE9BFF 135.64%);
}

.bg-ground {
  background: linear-gradient(179.75deg, #654008 -19.96%, #895C1A 43.67%, #D69638 138.4%);
}

.bg-rock {
  background: linear-gradient(177.03deg, #7E7E7E -11.97%, #8D8D94 57.49%, #D3D3D3 135.64%);
}

.bg-dark {
  background: linear-gradient(177.03deg, #030706 -11.97%, #0D1211 57.49%, #5A5E5D 135.64%);
}

.bg-psychic,
.bg-flying {
  background: linear-gradient(176.37deg, #eaff01 -32.26%, #cecf6b 22.55%, #ffe100 125.72%);
}

.bg-electric {
  background: linear-gradient(179.75deg, #0C1395 -19.96%, #2B319B 43.67%, #7075D9 138.4%);
}

.bg-fighting {
  background: linear-gradient(176.83deg, #96402A -8.78%, #F1613C 169.09%, #CB735D 242.33%);
}

.bg-ghost {
  background: linear-gradient(177.03deg, #323569 -11.97%, #454AA8 57.49%, #787DDA 135.64%);
}

.bg-ice {
  background: linear-gradient(177.03deg, #6FBEDF -11.97%, #64CBF5 47.77%, #BDEBFE 136.72%);
}

.bg-dragon {
  background: linear-gradient(179.75deg, #478A93 -19.96%, #56A4AE 43.67%, #A2BEC1 138.4%);
}

.bg-fairy {
  background: linear-gradient(179.75deg, #971B45 -19.96%, #C23867 43.67%, #CD7D98 138.4%);
}
/*letter color*/

.letter-type {
  color: #eff;
  border: #200;
}

/* pokemon detail */
/* :root {
  --star__bar-length: 0%;
} */

.detail {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px; */
}
.container__principal {
  padding: 15px;
  margin: 0 auto;
  display: flex;
  
}
.img_p{
  width: 300px;
  font-size: 1rem;
  position: relative;
  display: block;
}
.pp{
  display:block;
  width: 80%;
  padding: 10px;
  border: 10px;
  margin: 10px;
}
.detail__section1 {
  background-color: #FFF;
  filter: drop-shadow(0 10px 20px rgb(0, 0, 0, 0.15));
  border-radius: 20px;
  display: block;  
  padding: 10px;
  margin: 20px;
}
.detail__M {
  display: block;  
  width: 20%;
  background-color: #FFF;
  filter: drop-shadow(0 10px 20px rgb(0, 0, 0, 0.15));
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  text-transform: capitalize;
}
.section1__ta{
  /* background-color: #FFF;
  filter: drop-shadow(0 10px 20px rgb(0, 0, 0, 0.15));
  border-radius: 20px;
  display: block; */
  display: flex;
  justify-content: space-around;
}
.section1_stat-container{
  background-color: #FFF;
  filter: drop-shadow(0 10px 20px rgb(0, 0, 0, 0.15));
  border-radius: 20px;
  display: block;  
}
.section1__rect {
  /* height: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px 20px 0 00; */
}
.section1__img {
  bottom: 10px;
  position: relative;
  width: 300px;
  margin-top: -150px;
}
.detail__seccion {
  display: flex;
  gap: 1rem;
  margin-left: 10px;
  margin-top: 20px;
  margin-right: 10px; 
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}


.detail__line {
  max-width: 150px;
  position: absolute;
  display: block;
 
}

.detail__title {
  font-weight: 900;
  font-size: 30px;
  display: block;
}

.detail__ball {
  display: flex;
  justify-content: end;
  position:fixed;
  right: 50px;
}
.detail__ball img{
 
  
}

.detail__movements {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 5px;
  margin-bottom: 50px;
  justify-content:space-around;
}

.detail__movements span {
  background: #E5E5E5;
  padding: 0.5rem;
  border-radius: 25px;
  color: #302F2F;
  
}

.container-section1 {
  display: flex;
  padding-bottom: 30px;
  flex-direction:row;
   flex-wrap: wrap;
}
.section1__detail {
  display: block;
  margin-left:50px;
  
}
.container__name {
  font-weight: 600;
  font-size: xx-large;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 50px;
  border: 1px solid rgba(211, 211, 211, 1);
  color: rgba(65, 100, 96, 1);
}

.section1__name {
  display: block;
  margin-left: 200px;
  color: rgba(65, 100, 96, 1);
  gap: 1rem;
}
.section1__characterist1{
  display: block;
  width: 50%;
}
.section1__characterist1 span{
  font-size: 20px;
}
.section1__characterist2{
  display: block;
  width: 50%;
}
.section1__characterist2 span{
  font-size: 20px;
}

.section1__ta {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 50px;
}
.section1__types {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 2rem; */
  background-color: #FFF;
  filter: drop-shadow(0 10px 20px rgb(0, 0, 0, 0.15));
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  height: 120px;
}
.ta__types span {
  color: white;
  text-transform: capitalize;
  font-weight: 500;
  min-width: 100px;
  text-align: center;
  padding: 5px 10px;
}

.section1__hability {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  filter: drop-shadow(0 10px 20px rgb(0, 0, 0, 0.15));
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
}

.section1__hability>span {
  font-weight: 800;
}

.ta__types,
.ta__hability {
  display: flex;
  gap: 1rem;
}

.ta__hability span {
  border: 1px solid #D3D3D3;
  padding: 5px 10px;
  min-width: 100px;
  text-transform: capitalize;
  text-align: center;
}
.section__stat {
  display: block;
  align-items: center;
  padding-top: 10px;
 }

.section1__title {
  font-weight: 700;
  font-size: 26px;
}

.section1__name-text {
  text-transform: capitalize;
}

.detail__ball1 {
  margin-right: -20px;
  max-width: 70px;
}

.detail__stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.stat__container {
  display: flex;
  flex-direction: column;
}

.stat__text {
  display: flex;
  justify-content: space-between;
}

.stat__bar,
.stat__bar::after {
  min-width: 175px;
  position: relative;
  height: 25px;
  background: #F6F6F6;
  border: none;
  overflow: hidden;
}

.stat__bar::after {
  content: "";
  position: absolute;
  left: -175px;
  background: linear-gradient(90deg, #FCD676 -2.25%, #E6901E 133.18%);
  transition: color 0.1s, background-color 0.2s ease-in-out;
  animation: stat__bar-fill 2s ease-in-out forwards;
}

.star__bar--100:after {
  --star__bar-length: 100%;
}

.star__bar--70:after,
.star__bar--71:after,
.star__bar--72:after,
.star__bar--73:after,
.star__bar--74:after,
.star__bar--75:after {
  --star__bar-length: 100%;
}

.star__bar--79:after,
.star__bar--80:after,
.star__bar--78:after,
.star__bar--81:after,
.star__bar--82:after,
.star__bar--83:after {
  --star__bar-length: 100%;
}

.star__bar--61:after,
.star__bar--62:after,
.star__bar--63:after,
.star__bar--64:after,
.star__bar--65:after {
  --star__bar-length: 97%;
}

.star__bar--56:after,
.star__bar--57:after,
.star__bar--58:after,
.star__bar--59:after,
.star__bar--60:after {
  --star__bar-length: 90%;
}

.star__bar--49:after,
.star__bar--50:after,
.star__bar--51:after,
.star__bar--52:after,
.star__bar--53:after,
.star__bar--54:after,
.star__bar--55:after {
  --star__bar-length: 75%;
}

.star__bar--48:after,
.star__bar--47:after,
.star__bar--46:after,
.star__bar--45:after {
  --star__bar-length: 67%;
}

.star__bar--40:after,
.star__bar--41:after,
.star__bar--42:after,
.star__bar--43:after,
.star__bar--44:after {
  --star__bar-length: 60%;
}

.star__bar--35:after,
.star__bar--36:after,
.star__bar--37:after,
.star__bar--38:after,
.star__bar--39:after {
  --star__bar-length: 55%;
}

.star__bar--20:after,
.star__bar--19:after,
.star__bar--18:after,
.star__bar--17:after,
.star__bar--16:after {
  --star__bar-length: 30%;
}

.star__bar--10:after,
.star__bar--11:after,
.star__bar--12:after,
.star__bar--13:after,
.star__bar--14:after,
.star__bar--15:after {
  --star__bar-length: 15%;
}

@keyframes stat__bar-fill {
  to {
      transform: translateX(var(--star__bar-length));
  }
}


/* BORDER COLOR*/

.border-grass {
  background-color: rgb(72, 208, 176);;
}

.border-fire {
  background-color: rgb(251, 108, 108);
}

.border-water {
  background-color: rgb(112, 183, 250);
}

.border-bug {
  background-color: rgb(139, 195, 74);
}

.border-normal {
  background-color: rgb(115, 81, 89);
}

.border-poison {
  background-color: #5B3184;
}
.border-steel {
  background-color: rgb(93, 115, 108);
}

/* bagra*/

.border-ground {
  background-color: #654008;
}

.border-rock {
  background-color: #7E7E7E;
}

.border-dark {
  background-color: #030706;
}

.border-psychic,
.border-flying {
  background-color: hsl(60, 69%, 49%);
}

.border-electric {
  background-color: rgb(226, 224, 45);
}

.border-fighting {
  background-color: #96402A;
}

.border-ghost {
  background-color: #323569;
}

.border-ice {
  background-color: #6FBEDF;
}

.border-dragon {
  background-color: #478A93;
}

.border-fairy {
  background-color: #971B45;
}


/* bagra*/

.bg-grass {
  background: linear-gradient(178.92deg, #7EC6C5 0.92%, #ABDAC6 47.96%, #CAE099 99.08%);
}

.bg-fire {
  background: linear-gradient(176.37deg, #F96D6F -32.26%, #E35825 22.55%, #E8AE1B 125.72%);
}

.bg-water {
  background: linear-gradient(179.57deg, #133258 -70.14%, #1479FB 56.16%, #82B2F1 214.85%)
}

.bg-bug {
  background: linear-gradient(177.56deg, #62DB60 -58.92%, #3BB039 16.57%, #AAFFA8 209.53%);
}

.bg-normal {
  background: linear-gradient(181.51deg, #735259 -6.44%, #BC6B7C 121.95%, #7C3F4C 186.11%);
}

.bg-poison {
  background: linear-gradient(177.03deg, #5B3184 -11.97%, #A564E3 71.28%, #CE9BFF 135.64%);
}

.bg-ground {
  background: linear-gradient(179.75deg, #654008 -19.96%, #895C1A 43.67%, #D69638 138.4%);
}

.bg-rock {
  background: linear-gradient(177.03deg, #7E7E7E -11.97%, #8D8D94 57.49%, #D3D3D3 135.64%);
}

.bg-dark {
  background: linear-gradient(177.03deg, #030706 -11.97%, #0D1211 57.49%, #5A5E5D 135.64%);
}

.bg-psychic,
.bg-flying {
  background: linear-gradient(176.37deg, #eaff01 -32.26%, #cecf6b 22.55%, #ffe100 125.72%);
}

.bg-electric {
  background: linear-gradient(179.75deg, #0C1395 -19.96%, #2B319B 43.67%, #7075D9 138.4%);
}

.bg-fighting {
  background: linear-gradient(176.83deg, #96402A -8.78%, #F1613C 169.09%, #CB735D 242.33%);
}

.bg-ghost {
  background: linear-gradient(177.03deg, #323569 -11.97%, #454AA8 57.49%, #787DDA 135.64%);
}

.bg-ice {
  background: linear-gradient(177.03deg, #6FBEDF -11.97%, #64CBF5 47.77%, #BDEBFE 136.72%);
}

.bg-dragon {
  background: linear-gradient(179.75deg, #478A93 -19.96%, #56A4AE 43.67%, #A2BEC1 138.4%);
}

.bg-fairy {
  background: linear-gradient(179.75deg, #971B45 -19.96%, #C23867 43.67%, #CD7D98 138.4%);
}


/*letter color*/

.letter-grass {
  color: #416460;
}

.letter-fire {
  color: #E75C35;
}

.letter-water {
  color: #1479FB;
}

.letter-bug {
  color: #4AB648;
}

.letter-normal {
  color: #735259;
}

.letter-poison {
  color: #5B3184;
}

.letter-ground {
  color: #654008;
}

.letter-rock {
  color: #7E7E7E;
}

.letter-dark {
  color: #030706;
}

.letter-psychic,
.letter-flying {
  color: hsl(60, 56%, 48%);
}

.letter-electric {
  color: #0C1395;
}

.letter-fighting {
  color: #96402A;
}

.letter-ghost {
  color: #323569;
}

.letter-ice {
  color: #6FBEDF;
}

.letter-dragon {
  color: #478A93;
}

.letter-fairy {
  color: #971B45;
}

/* pagination */

.pagination{
  margin-top: 10px;
  margin-bottom: 10px;
}

.pagination button{
  border: 0;
  background: #6c79db;
  color: white;
  box-shadow: 2px 2px 8px gray;
  font-size: .9rem;
  font-weight: bold;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 3px;
  cursor: pointer;
  outline: 0;
  transition: .2s;
}
.search{
  border: 0;
  background: #6c79db;
  color: white;
  box-shadow: 2px 2px 8px gray;
  font-size: .9rem;
  font-weight: bold;
  border-radius: 30%;
  width: 60px;
  height: 40px;
  margin: 3px;
  cursor: pointer;
  outline: 0;
  transition: .2s;
}
.pagination button:hover{
  background: #67c98e;
  transition: .2s;
}
.search:hover{
  background: #67c98e;
  transition: .2s;
}
.inp_pokedex{
  width: 300px;
  border: none;
  border-radius: 30px;
  outline: none;
  font-size: 19px;
  color: grey;
  box-shadow: -10px -10px 15px rgba(58,58,58,.09019607843137255),10px 10px 15px rgba(66,66,66,.34901960784313724);
  transition: .5s;
  padding: 10px 55px 10px 15px;
  height: 20px;
}
.select_pokedex{
  width: 150px;
  border: none;
  border-radius: 30px;
  outline: none;
  font-size: 19px;
  color: grey;
  box-shadow: -10px -10px 15px rgba(58,58,58,.09019607843137255),10px 10px 15px rgba(66,66,66,.34901960784313724);
  transition: .5s;
  padding: 10px 55px 10px 15px;
  height: 40px;
}
.pokedex__header h1{
  font-family: "Montserrat",sans-serif;
font-weight: 800;
font-size: 2.9rem;
padding-top: 10px;
margin-left: 10px;
text-align: left;
}
.pokedex__header p{
  text-align: left;
padding: 10px 0 40px 30px;
font-size: 1.1rem;
}
.pokedex__header{
  
  
}